form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5rem;
    column-gap: 2rem;
    grid-template-rows: 1fr 3fr 10%;
}

.title {
    grid-column: 1;
    grid-row: 1;
    display:flex;
    flex-direction: column;
}

.status {
    grid-column: 2;
    grid-row: 1;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.description {
    grid-column: 1/3;
    grid-row: 2/3;
    display:flex;
    flex-direction: column;
}

.descriptionI {
    height:100%;
}

.submit {
    grid-column: 1/3;
    grid-row: 3/4;
    width:30%;
    justify-self: center;
}